head
  title Queue 3D Print
  meta(charset="utf-8")
  link( href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
  link(rel='stylesheet', href='/css/styles.css', type="text/css")
  link(rel='stylesheet', href='/css/3dprint.css', type="text/css")
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
body
  .headerWrapper
    h1.title Queue: 3D Print
  .slicerWrapper
    .viewer
    .settingsWrapper
      input.textInput(type="text", name="jobName", placeholder="Job Name")
      input.textInput(type="text", name="username", placeholder="name")
    .printSettingsFeild
      button.settingButton(name="advacedSettings") Advaced Settings
    .buttons 
      button.settingButton(name="slice",) Slice
      button.settingButton(name="submit") Submit
        
  .tableWrapper
    table.queue
      thead
        tr
          td job
          td name
          td eta
      tbody 
