doctype html
head
  meta(charset='utf-8')
  title NuVu Print
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700', type='text/css')
  link(rel='stylesheet', href='/www/bower_components/bootstrap/dist/css/bootstrap.min.css', media='screen' charset='utf-8')
  link(rel='stylesheet', href='/www/bower_components/font-awesome/css/font-awesome.min.css', media='screen')
  link(rel='stylesheet', href='/www/css/styles.min.css', media='screen', charset='utf-8')
body
  .page-wrapper
    .add-pane
      .logotype-wrapper
        img(src='/www/img/logotype.svg', alt='NuVu Print')
      .model-preview-wrapper
        img(src='/www/img/model-placeholder.png', alt='Model Preview')
      .add-job-form-wrapper
        form.add-job-form
          .add-job-row
            span.add-job-text-label(autofocus="autofocus") Job
            input.add-job-textfield.add-job-job(type="text", name="name")
          .add-job-row
            span.add-job-text-label Name
            input.add-job-textfield.add-job-name(type="text", name="name")
    .queue-pane
      table.jobs-table
        thead
          tr
            td JOB
            td NAME
            td ETA
        tbody
          tr
            td
              i.fa.fa-info-circle.job-more-info
              |  Knife
            td Cruz, Ted
            td 11:11
          tr
            td
              i.fa.fa-info-circle.job-more-info
              |  Knife
            td Cruz, Ted
            td 11:11
          tr
            td
              i.fa.fa-info-circle.job-more-info
              |  Knife
            td Cruz, Ted
            td 11:11
          tr
            td
              i.fa.fa-info-circle.job-more-info
              |  Knife
            td Cruz, Ted
            td 11:11
          tr
            td
              i.fa.fa-info-circle.job-more-info
              |  Knife
            td Cruz, Ted
            td 11:11
          tr
            td
              i.fa.fa-info-circle.job-more-info
              |  Knife
            td Cruz, Ted
            td 11:11
          tr
            td
              i.fa.fa-info-circle.job-more-info
              |  Knife
            td Cruz, Ted
            td 11:11
          tr
            td
              i.fa.fa-info-circle.job-more-info
              |  Knife
            td Cruz, Ted
            td 11:11
          tr
            td
              i.fa.fa-info-circle.job-more-info
              |  Knife
            td Cruz, Ted
            td 11:11
  script(src='/www/js-prod/libraries.min.js', charset='utf-8')
  script(src='/www/js-prod/scripts.min.js', charset='utf-8')
