title 3D printer station
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
#page-wrapper
    #header-wrapper
        #logotype-wrapper
        img(src="/logos/nuvu_logo_twitter.jpg", alt="nuvu_logo_twitter")
    #slicer-wrapper
        #viewer
        #settings-wrapper
            #job-field
            #name-field
            #print-settings-feild
            #slice-button

    #table-wrapper
        table#queue
            thead
            tr
                td job
                td name
                td eta
            tbody
                tbody
