head
    title NuVu Print
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat", type="text/css")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
body
  #page-wrapper
      #header-wrapper
          #logotype-wrapper
          img(src="/img/nuvu-logo.png", alt="nuvu logo")
          h1 print
      #slicer-wrapper
          #viewer
          #settings-wrapper
              #job-field
              #name-field
              #print-settings-feild
              #slice-button

      #table-wrapper
          table#queue
              thead
              tr
                  td job
                  td name
                  td eta
              tbody
                  tbody
