head
  link(rel='stylesheet', href='/css/styles.css', type="text/css")
  link(rel='stylesheet', href='/css/index.css', type="text/css")
  link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
body
  .headerWrapper
    h1 Queue
  .queueWrappper
    .printQueue
      a.title(href='/lasercut') Laser Cut 
      table.Queue
        thead
          tr
            td Job
            td Name
            td Complete
            td printer
        tbody

    .cutQueue
      a.title(href='/3dprint') 3D Print
      table.Queue
        thead
          td Job
          td Name
          td Time
        tbody
