head
  title Queue lasercut
  meta(charset="utf-8")
  link(rel='stylesheet', href='/css/styles.css', type="text/css")
  link( href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
body
  .headerWrapper
    h1 Queue lasercut
  
  
