@import "variables";

html, body {
  height: 100%;
}

html, body, .page-wrapper {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
}

.add-pane {
  flex-grow: 1;
}

.queue-pane {
  flex-grow: 3;
  width: 100%;
}

.logotype-wrapper {
  display: flex;
  height: 100px;
  align-items: center;
  background: $nuvu-pink;
  padding-left: 25px;
}

.add-job-form-wrapper {
  border-right: 3px solid $light-gray;
}

.add-job-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.add-job-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.add-job-text-label, .add-job-textfield, .add-job-select-label, .add-job-select {
  font-size: 36px;
  height: 75px;
}

.add-job-text-label {
  cursor: text;
}

.add-job-text-label, .add-job-select-label {
  background: $nuvu-pink;
  color: white;
  width: 165px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  font-weight: 300;
}

.add-job-textfield, .add-job-select {
  transition: border 0.2s ease;
  border: 3px solid $light-gray;
  background: white;
  border-left: none;
  font-size: 36px;
  padding-left: 15px;
  border-radius: 0;
  appearance: none;
  width: 66%;
  &:focus {
    border-color: lighten($nuvu-pink, 10%);
    outline: none;
  }
}

.slice-button {
  @extend .add-job-text-label;
  cursor: pointer;
  border: 0;
  &:hover, &:focus {
    outline: none;
    background: darken($nuvu-pink, 5%);
  }
  &:active {
    background: darken($nuvu-pink, 35%);
  }
}

.jobs-table {
  flex-grow: 1;
  width: 100%;
}

.jobs-table {
  font-size: 36px;
  thead {
    background: $nuvu-pink;
    color: white;
    letter-spacing: 9.89px;
    tr {
      height: 100px;
    }
  }
  tbody {
    tr {
      height: 100px;
      background: white;
      td .job-more-info {
        font-size: 20px;
      }
      &:nth-child(odd) {
        background: $faint-gray;
      }
    }
  }
  td {
    padding: 5px 5px 5px 15px;
  }
}
