 td{
  vertical-align: middle;
  width: 25%;
  color: #ffffff;
  text-align: center;
}
tbody td{
  background-color: #3d3d3d;
}
.printQueue{
  display: inline-block;
  width: 46vw;
  float:left;
  margin: 5px;
}
.cutQueue {
  display: inline-block;
  width:46vw;
  margin: 5px;
}
.headerWrapper{
  display: inline-flex;
}
.queueWrappper{
  margin: 0 auto;
  width: 95vw
}
