body{
  font-family: Roboto, sans-serif;
  background-color: #1c1c1c;
}
.title{
  margin: 5%;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.header-wrapper{
  height 10%;
  width 100%

}

.slicer-wrapper{
  width 33.33%;
}
:link{
  color:#ffffff;

}
.queue{
  width: 100%;
}
td{
  vertical-align: middle;
  width: 25%;
  color: #ffffff;
  text-align: center;
}
tbody td{
  background-color: #3d3d3d;
}
