.page-wrapper{
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
}
.header-wrapper{
  background-color: #F35D95;
  height 10%;
  width 100%

}
.logotype-wrapper{

  color #ffffff;
}
.slicer-wrapper{
  width 33.33%;
}
